@font-face {
  font-family: 'Blimpo';
  src: url('fonts/Blimpo\ Regular.ttf'), url('fonts/blimpi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family:Blimpo;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
